.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#navbar {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
  list-style: none;
}
.navbar-left {
  float: left; 
  border-left: 1px solid #000000; 
}
.navbar-right {
  float: right; 
  border-right: 1px solid #000000; 
}
#navbar li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  color: #2687bb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
